#wrapper {
	width: 1000px;
	height: 760px;
	margin: auto;
}

.grid {
	width: 12px;
	height: 12px;
	float: left;
	background-color: gray;
}

.draw {
	background-color: black;
}

.button {
	width: 1000px;
	height: 40px;
	text-align: center;
	margin: auto;
	background-color: white;
}

#clear-resize-button {
	margin: auto;

}

#clear-button {
	margin: auto;

}
